// Define variables for your color scheme

$red: #fa4a39;
$dark-red: #ad3b31;
$light-blue: #2df7f9;
$blue: #1064c7;
$dark-blue: #567294;
$yellow: #fad614;
$orange: #fa7b2d;
$dark-orange: #ad4200;
$green: #21fd84;
$dark-green: #1ee3af;
$gray: #4c4a4a;
$mid-gray: #bdbdbd;
$light-gray: #f6f6f6;
$almost-black: #505050;
$super-light-gray: #fafafa;
