.dashboard-header {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 20px;
}

.dashboard-content {
  display: flex;
  align-items: flex-start;
}

.positions_pannel_container,
.transactions_pannel_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.positions_pannel {
  max-height: 600px;
  overflow: auto;
}

.dashboard-content h3 {
  padding: 18px 12px;
  padding-top: 18px;
  font-weight: bold;
}
