.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-content {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.positions_pannel_container,
.transactions_pannel_container {
  flex-direction: column;
  align-items: flex-start;
}

.positions_pannel {
  width: 100%;
  height: 630px;
  overflow: auto;
  margin: 0px;
  background-color: $light-gray;
}

.dashboard-content h3,
.dashboard-header h3 {
  padding: 18px 12px;
  padding-top: 18px;
  font-weight: bold;
}
