.index-header-content {
  height: 400px;
  width: 100%;
  background-color: $super-light-gray;
  margin: 20px 0px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
