.event-image {
  height: 20vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 9px;
}

#price-chart {
  background-color: white;
  border-radius: 9px;
  min-height: 300px;
}

.trading {
  height: 500px;
  margin: 0px 0px 8px 0px;
  overflow: auto;
}

.trading .seller-card {
  background: white;
  border-radius: 9px;
  min-height: 20px;
  max-height: 100%;
  margin: 0px 0px 8px 0px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  padding: 16px 32px;
  top: 0;
  position: sticky;
}

.trading .offer-card {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  background: white;
  border-radius: 9px;
  min-height: 20px;
  max-height: 100%;
  margin: 0px 0px 8px 0px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  padding: 16px 32px;
  row-gap: 20px;
}

.buying-panel .offer-card {
  margin: 0px 0px 8px 0px;
}

.event-text {
  background-color: white;
  border-radius: 9px;
  padding: 16px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  margin: 8px 0px 8px 0px;
  text-align: center;
  h1 {
    color: black;
  }
}

.calendar {
  color: $dark-orange;
}

.inline-form {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(96px, 1fr));
}

.seller-card .button-main {
  max-height: 2em;
}

.button-buy {
  max-height: 2em;
}

.seller-card strong {
  color: $orange;
}

// timer over the show
.timer {
  margin: 5px;
  font-weight: bolder;
}

#clockdiv {
  justify-content: center;
}

h1 {
  color: black;
}
