body {
  background-color: $light-gray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing {
  padding-bottom: 12px;
  background-position: center;
  background-size: cover;
  width: auto;
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6)),
    url("https://static.vecteezy.com/ti/vecteur-libre/p1/695297-bougie-bougie-graphique-de-l-39-investissement-boursier-gratuit-vectoriel.jpg");
}

.container h1 {
  color: $almost-black;
  margin-bottom: 20px;
  font-weight: 800;
}

.container h4 {
  color: $almost-black;
  margin-bottom: 20px;
}

.home-infos {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: 480px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  overflow: scroll;
  position: relative;
}

.home-info-logo {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 70px;
  bottom: 50px;
}

.home-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: 500px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: justify;
  border-radius: 10px;
  overflow: scroll;
}

.home-card-big {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: 700px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: justify;
  border-radius: 10px;
  overflow: scroll;
}

.home-card-img {
  height: 450px;
  width: 100%;
  object-fit: center;
}

.home-card-event-img {
  height: 650px;
  width: 100%;
  object-fit: center;
}

.home-card-big-img {
  height: 400px;
  width: 100%;
  object-fit: center;
  margin-bottom: 10px;
}
