// ranking page

.avatar-ranking {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.ranking-li {
  padding: 10px;
  margin: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
