<div class="container">
  <div class="dashboard-header">
    <h1> Dashboard of <%= @user.username %> </h1>
    <h3>Current amount of points: <%= @user.points %> </h3>
  </div>

  <div class="dashboard-content row">
    <div class="positions_pannel_container col-12 col-md-6">
      <h3>Positions</h3>
      <div class="positions_pannel">
        <%= render('investment_cards') %>
      </div>
    </div>
    <div class="transactions_pannel_container col-12 col-md-6">
      <h3>Latest transactions</h3>
      <%= render('transactions_pannel') %>
    </div>
  </div>
</div>
