<div class="container">
  <div>
    <h1> Dashboard of <%= @user.username %> </h1>
    <h3>Current amount of points: <%= @user.points %> </h3>
  </div>

  <ul class="list-inline tabs-underlined">
    <li>
      <a id="tab-positions" href="#" class="tab-underlined active">Positions</a>
      <div class="positions_pannel_container">
        <div class="positions_pannel">
          <%= render('investment_cards') %>
        </div>
      </div>
    </li>
    <li>
      <a id="tab-recent-transactions" href="#" class="tab-underlined">Latest transactions</a>
      <div class="transactions_pannel_container">
        <%= render('transactions_pannel') %>
      </div>
    </li>
  </ul>
</div>
