<div class="row" id="technical" data-event-id="<%= @event.id %>"> <%# to check %>
  <div class="col-12 mb-2">
    <%= line_chart(
      @price_history,
      xtitle: "Time",
      ytitle: "Coins",
      title: "Price evolution",
      curve: false,
      points: false,
      id: "price-chart",
      width: "100%",
      height: "100%",
      library: { scales: { y: { max: 100 } } },
      colors: ["#fa7b2d"] # 567294
      )%>
  </div>
</div>
