<% @offers.each do |offer| %>
  <div class="card-offer">
    <p>
      <% if offer.seller == current_user %>
        <strong>You</strong> are offering
      <% else %>
        <strong><%= offer.seller.username %></strong> is offering
      <% end %>
      <strong><%= offer.n_actions %></strong>
      actions for
      <strong><%= '%.2f' % offer.price %></strong>
      coins.
    </p>
    <%# TODO: IMPLEMENT THE LOGIC OF BUY BUTTON %>
    <% unless offer.seller == current_user  %>
      <%= link_to('Buy', event_transaction_buy_path(@event, offer), class: "buy") %>
    <% end %>
  </div>
<% end %>
