<% @offers.each do |offer| %>
  <div class="card-offer">
    <p>
      <strong><%= offer.seller.username %></strong>
      is offering
      <strong><%= offer.n_actions %></strong>
      actions for
      <strong><%= '%.2f' % offer.price %></strong>
      coins.
    </p>
    <%# TODO: IMPLEMENT THE LOGIC OF BUY BUTTON %>
    <%= link_to('Buy', events_path, class: "buy") %>
  </div>
<% end %>
