<div class="card-offer">
  <div class="card-offer-infos">
    <p><strong><%= offer.seller %></strong> is selling <strong><%= offer.n_actions %></strong> actions for <%= offer.price %> coins.</p>
  </div>
</div>
