<div class="card-selling">
  <p>You currently hold
    <strong><%= @actions_held %></strong>
    actions in this event.
  </p>
  <%# TODO: IMPLEMENT THE LOGIC OF SELL BUTTON %>
  <%= link_to('Sell', new_event_transaction_path(@event), class: "sell") %>
</div>
