<div class="trading-pannel">
  <div class="selling">
    <%= render("selling_card") %>
  </div>
  <div class="buying">
    <% @offers.each do |offer| %>
      <%= render("offer_card", locals: { offer: offer }) %>
    <% end %>
  </div>
</div>
