<div class="container">
  <div>
    <h2 class="mt-4 mb-3"> Start to trade : </h2>
  </div>

  <!--<div class="row">
    <% @events.each do |event| %>
    <div class="col-12 col-xl-4">
      <div class="card-product">
        <img src="https://source.unsplash.com/random", class="card-product-img" />
          <div class="">
            <h2><%= event.title %></h2>
          </div>
          <%= link_to "More infos", event_path(event.id), class:"button-main mr-2" %>
      </div>
    </div>
    <% end %>
  </div> -->


    <div class="row">
    <% @events.each do |event| %>
    <div class="col-12 col-md-4">
      <div class="card-products">
        <img src="https://source.unsplash.com/random", class="card-product-img" />
          <div class="title">
            <%= link_to event.title, event_path(event.id) %>
          </div>
          <%# <div class=""> %>
            <%# <%= link_to "More infos", event_path(event.id), class:"button-main" %>
          <%# </div> %>
      </div>
    </div>
    <% end %>
  </div>
</div>
