<div class="container">
  <div>
    <h2 class="mt-4 mb-3"> list of all available events: </h2>
  </div>
  <div>
    <% @events.each do |event| %>
    <div class="card-product">
      <img src="https://source.unsplash.com/random" />
          <div class="">
              <h2><%= event.title %></h2>
              <p> <%= event.description %> </p>
          </div>
            <%= link_to "More infos", event_path(event.id), class:"button-main mr-2" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
