// button for the more infos-infos, etc

.button-info {
  background-color: rgb(110, 110, 197);
  border-radius: 10px;
  font-size: small;
  text-align: center;
  color: white;
  height: auto;
  width: fit-content;
  padding: 5px 10px;

}

.button-info:hover {
  background-color: rgb(156, 156, 235);
  color: white;
  text-decoration: none;
}
