.card-investment {
  margin: 50px 8px;
  position: relative;

  .card-investment-content {
    padding: 20px;
    padding-top: 35px;

    .event-title {
      font-size: 18px;
      font-weight: bold;
      color: $almost-black;
    }

    p {
      font-size: 16px;
      color: $almost-black;
      margin-bottom: 0;
      margin-top: 12px;

      .user-n_actions {
        color: $orange;
        font-size: 18px;
      }
    }

    .event-actions-data {
      color: white;
      position: absolute;
      top: -20px;
      right: 10px;
      background-color: $dark-blue;
      border-radius: 5px;
      border: 2px solid $light-gray;
      padding: 5px 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 90%;

      .current-price {
        color: white;
        font-size: 20px;
        padding: 0px 5px;
      }

      .custom-badge {
        font-size: 1em;
      }
    }
  }
}

.active-offers-header {
  background-color: $super-light-gray;
  font-size: 16px;
  padding: 5px;

  button {
    color: $almost-black;
  }

  button:hover {
    text-decoration: none;
  }
}

.offers-list {
  display: flex;
  flex-direction: column;
  padding: 0;

  .offer-row {
    border-bottom: 1px solid rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;

    .cancel-offer-btn {
      display: block;
      text-decoration: none;
      color: $orange;
      padding: 2px 5px;
      border-radius: 1em;
      border: 1px solid $orange;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s, visibility 0.2s linear;
    }

    .cancel-offer-btn:hover {
      background-color: $orange;
      color: white;
      text-decoration: none;
    }
  }

  .offer-row:hover {
    background-color: #fdfdfd;
  }

  .offer-row:first-child {
    border-top: 1px solid rgb(230, 230, 230);
  }
}

.offer-row:hover .cancel-offer-btn {
  visibility: visible;
  opacity: 1;
}
