.card-products {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: 360px;
  margin-bottom: 10px;
  position: relative;
}

.card-product-img {
  height: 220px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  text-align: justify;
}

.title a {
  text-decoration: none;
  color: $almost-black;
  margin-bottom: 400px;
}

.title a:hover {
  color: $blue;
}

.events-data-badge {
  position: absolute;
  width: 100%;
  bottom: 0px;
  right: 0px;
  background-color: white;
  border: 2px solid $light-gray;
  margin-bottom: 0px;
  padding: 4px 15px;
  display: flex;
  justify-content: space-between;
  background-color: $super-light-gray;
  font-size: 0.8em;
}

.events-data-badge p {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

.archive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: $light-gray;
  opacity: 0.9;

  .event-end-action {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: $almost-black;
    font-weight: bold;
  }
}
