.card-investment {
  margin: 8px;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

.card-investment .event-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-investment p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-investment .card-investment-infos {
  padding: 16px;
}
