.withmargins {
  margin-top: 8px;
  margin-bottom: 8px;
}

.widehorizontal {
  min-width: 1200px;
  // margin-right: 150px;
  // margin-left: 150px;
}

.container-dashboard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
