.dashboard-header-content {
  margin: 0px;
  padding: 20px 5px;
  background-color: white;

  .points-content {
    border: 2px solid $light-gray;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 0px;
    .points-graph-container {
      margin: 10px;
      height: 100%;
    }
  }

  .ranking-content {
    flex-direction: column;

    .points-info {
      width: 100%;
      padding: 10px;
      margin: 10px;
      flex-direction: column;
      font-size: 18px;
      border: 2px solid $light-gray;
      border-radius: 5px;

      .ranking-info {
        font-weight: bold;
        margin: 10px;
        margin-bottom: 0px;
      }

      #points-balance {
        padding: 10px 20px;
        font-size: 28px;
      }
    }
  }
}

#podium-icon {
  max-height: 120px;
  max-width: 80%;
  margin-top: 10px;
}

#user-ranking {
  font-size: 46px;
}

.leaderboard-btn {
  width: 80%;
  margin: 15px;
}

.stats-table {
  width: 100%;
  max-width: 300px;
  tr {
    td {
      font-size: 16px;
      width: 100%;
      padding: 5px;
    }

    td:last-child {
      text-align: right;
    }
  }
  tr:last-child {
    border-top: 1px solid $mid-gray;
    border-bottom: 2px solid $mid-gray;
    font-weight: bold;
    td {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    td:last-child {
      font-size: 20px;
    }
  }
}
