.dashboard-header {
  margin: 0px;
  margin-bottom: 20px;
}

.dashboard-header-content {
  margin: 0px;
  padding: 10px 5px;
  background-color: white;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
}

#podium-icon {
  height: 120px;
  margin-top: 10px;
}

#points-balance {
  padding: 10px 20px;
  font-size: 28px;
}

#user-ranking {
  font-size: 46px;
}

.ranking-info {
  font-weight: bold;
  margin: 10px;
  margin-bottom: 0px;
}

.points-content {
  border-radius: 5px;
  margin: 10px 0px;
}

.points-info {
  width: 100%;
  margin: 10px 0px;
  padding: 5px 10px;
  flex-direction: column;
  font-size: 18px;
  border: 2px solid $light-gray;
  border-radius: 5px;
}

.points-graph-container {
  margin: 10px;
  height: 100%;
}

.ranking-content {
  flex-direction: column;
}
