.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar1 {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.navbar-title {
  font-family: 'Comforter Brush', cursive;
  font-size: xx-large;
  margin-top: 5px;
  margin-bottom: 0;
}

.navbar-links {
  display: flex;
  padding-right: 25px;
}

.navbar-info {
  display: flex;
  padding-left: 25px;
  border-left-width: medium;
  border-left-style: solid;
}

.nav-item {
  display: flex;
}

.fas {
  padding-left: 5px;
}

.nav-item a {
  color: black;
  padding-left: 25px;
  padding-top: 10px;
}

.fa-user {
  padding-right: 25px;
}
