.transactions_pannel {
  width: 100%;
}

.transactions_pannel table {
  background-color: $super-light-gray;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;

  max-height: 630px;
  overflow: auto;

  thead {
    width: 100%;
    text-align: center;
    font-weight: bold;
    position: sticky;
    top: 0px;
    background-color: white;

    tr {
      width: 100%;
      border-bottom: 1px solid #ddd;
      th {
        width: auto;
        height: 80px;
      }
    }
  }

  tbody {
    // display: inline-block;
    width: 100%;
    max-height: 545px;
    overflow-y: scroll;
    tr {
      width: 100%;
      border-bottom: 1px solid #ddd;
      td {
        height: 40px;
        padding: 8px 17px;
      }
    }
  }
}

.transactions_pannel tbody tr:nth-child(even) {
  background-color: white;
}

.td-updated_at {
  font-weight: bold;
}

.td-event_title,
.td-flow-pos {
  color: $blue;
}

.td-flow-neg {
  color: $orange;
}

.td-centered {
  text-align: center;
}

.transactions_pannel tbody tr:hover {
  background-color: #ddd;
}
