.transactions-table {
  background-color: $super-light-gray;
  width: 100%;
  height: 630px;
  overflow: auto;
  display: block;

  // thead {
  //   display:table;
  //   width:100%;
  //   text-align: center;
  //   font-weight: bold;
  //   background-color: white;
  //   position: sticky;
  //   top: 0px;

  //   tr {
  //     width: 100%;
  //     border-bottom: 1px solid #ddd;
  //     th {
  //       height: 80px;
  //     }
  //   }
  // }

  tbody {
    display:table;
    width:100%;
    max-height: 545px;
    overflow-y: scroll;


    tr:first-child {
      text-align: center;
      font-weight: bold;
      background-color: white;
      border-bottom: 1px solid #ddd;
      position: sticky;
      top: 0px;
      height: 80px;
    }


    tr {
      width: 100%;
      border-bottom: 1px solid #ddd;
      td {
        height: 40px;
        width: 10%;  // To check
        // padding: 8px 2px;
      }
    }
  }
}

.transactions_pannel tbody tr:nth-child(even) {
  background-color: white;
}

.td-updated_at {
  font-weight: bold;
}

.td-event_title,
.td-flow-pos {
  color: $blue;
}

.td-flow-neg {
  color: $orange;
}

.td-centered {
  text-align: center;
}

.transactions_pannel tbody tr:hover {
  background-color: #ddd;
}
