.transactions_pannel_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .transactions_pannel h3 {
//   padding: 18px 12px;
//   padding-top: 18px;
//   border-top: 1px solid #ddd;
//   font-weight: bold;
// }

.transactions_pannel table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.transactions_pannel td,
.transactions_pannel th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.transactions_pannel tr:nth-child(even) {
  background-color: #f2f2f2;
}

.transactions_pannel tr:hover {
  background-color: #ddd;
}

.transactions_pannel th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: $dark-blue;
  color: white;
  width: 100px;
}

.td-updated_at {
  font-weight: bold;
}

.td-event_title {
  width: 200px;
  color: $blue;
}

.td-flow-pos {
  color: $blue;
}

.td-flow-neg {
  color: $orange;
}

.td-centered {
  text-align: center;
}
