.card-selling {
  width: 100%;
  overflow: hidden;
  height: 80px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  font-size: 18px;
}

.card-selling p {
  opacity: 0.7;
  margin-bottom: 0;
}
