.card-selling {
  width: 100%;
  overflow: hidden;
  height: 80px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  font-size: 18px;
}

.card-selling p {
  opacity: 0.7;
  margin-bottom: 0;
}

.card-selling a {
  color: rgb(34, 80, 230);
  border: 1px solid rgb(34, 80, 230);
  border-radius: 1em;
  padding: 5px 20px;
  opacity: 0.7;
}

.card-selling a:hover {
  opacity: 1;
  text-decoration: none;
}
