.trading {
}

.trading .t-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 9px;
  margin: 10px 0px 0px 0px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  padding: 16px 32px;
  row-gap: 20px;
}

.trading .buying-panel {
  max-height: 300px;
  min-height: 400px;
  overflow: auto;
}
