.positions_pannel_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.positions_pannel h3 {
  padding: 18px 12px;
  padding-top: 18px;
  border-top: 1px solid #ddd;
  font-weight: bold;
}
