.positions_pannel_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.positions_pannel h3 {
  padding: 18px 12px;
  padding-top: 18px;
  border-top: 1px solid #ddd;
  font-weight: bold;
}

.active-offers {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.offers-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.offer-row a {
  display: inline-block;
}

.offer-row {
  border-bottom: 1px solid rgb(230, 230, 230);
  display: flex;
  justify-content: space-between;
}

.offer-row:first-child {
  border-top: 1px solid rgb(230, 230, 230);
}
